@font-face {
    font-family: kirbyFont;
    src: url(Guestservice.ttf);
}

@font-face {
    font-family: littleThings;
    src: url(LittleThings-ZX5Z2.ttf);
}


@keyframes selectedAnim {
    50% {
        transform: scale(1.1);
    }
}

body {
    font-display: block;
    font-family: kirbyFont;
    overscroll-behavior: contain;
}

.guessletter {
    /* Invisible letter */
    display: inline-block;
    color: transparent;
    border-bottom: 5px solid #1569c7;
    margin: 0 10px;
    font-size: 26px;
    padding: 10px;
    transition: 0.5s;
    text-transform: uppercase;
    min-width: 26px;
    text-align: center;
    font-family: kirbyFont;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}

.borderedletter {
    /* Adds border to letter */
    border: 1px solid #1569c7;
    border-bottom: 5px solid #1569c7;
    animation: selectedAnim 0.3s ease;
}

.visibleLetter {
    /* Adds visibility to letter */
    color: #1569c7;
}

.comment {
    color: #1569c7;
    margin: 10px 0;
    font-size: 24px;
    font-family: littleThings;
}

.commentTitle {
    color: #1569c7; 
    margin: 15px 0;
    font-size: 24px;
    font-family: littleThings;
}

/* The alert message box */
.alert {
    padding: 10px;
    background-color: #1569c7;
    color: white;
    margin-bottom: 5px;
    font-family: kirbyFont;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-family: kirbyFont;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: 1569c7;
}

canvas {
    background-color: #1569c7;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #1569c7;
    border-top-left-radius: 105px 15px;
    border-top-right-radius: 15px 25px;
    border-bottom-right-radius: 25px 195px;
    border-bottom-left-radius: 12px 55px;
    touch-action: none;
}

button {
    display: inline-block;
    width: 155px;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #1569c7;
    border: 3px solid #1569c7;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.3s;
    padding: 0;
    background: white;
    margin: 10px;
    outline: none;
    font-family: kirbyFont;   
    box-shadow: 2px 9px 4px -6px hsla(0, 0%, 0%, 0.15);

    user-select: none; /* supported by Chrome and Opera */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
 
button span {
    position: relative;
    z-index: 2;
}

button:after {
    position: absolute;
    content: '';
    color: white;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1569c7;
    transition: all 0.05s;
}

button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

button:hover {
    box-shadow: 2px 9px 4px -6px hsla(0, 0%, 0%, 0.35);
}

button.sketch1 {
    border-top-left-radius: 85px 15px;
    border-top-right-radius: 15px 80px;
    border-bottom-right-radius: 12px 105px;
    border-bottom-left-radius: 30px 135px;
}

button.sketch2 {
    border-top-left-radius: 205px 10px;
    border-top-right-radius: 15px 25px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 12px 105px;
}

button.sketch3 {
    border-top-left-radius: 205px 10px;
    border-top-right-radius: 15px 25px;
    border-bottom-right-radius: 25px 15px;
    border-bottom-left-radius: 12px 55px;
}

button.sketch4 {
    border-top-left-radius: 105px 15px;
    border-top-right-radius: 15px 25px;
    border-bottom-right-radius: 25px 195px;
    border-bottom-left-radius: 12px 55px;
}

button.sketch5 {
    border-top-left-radius: 195px 15px;
    border-top-right-radius: 15px 25px;
    border-bottom-right-radius: 25px 125px;
    border-bottom-left-radius: 12px 155px;
}

input.sketch1 {
    border-top-left-radius: 105px 15px;
    border-top-right-radius: 15px 25px;
    border-bottom-right-radius: 25px 195px;
    border-bottom-left-radius: 12px 55px;
}

button.menu {
    width: 125px;
    height: 40px;
    line-height: 30px;
    border-top-left-radius: 150px 100px;
    border-top-right-radius: 125px 125px;
    border-bottom-right-radius: 150px 205px;
    border-bottom-left-radius: 105px 55px;
}

input.sketch2 {
    border-top-left-radius: 105px 15px;
    border-top-right-radius: 15px 25px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 12px 55px;
}

#inkContainer {
    width: 140px;
    height: 10px;
    border: 4px solid #1569c7;
    overflow: hidden;
    position: relative;

    border-top-left-radius: 105px 125px;
    border-top-right-radius: 75px 125px;
    border-bottom-right-radius: 89px 125px;
    border-bottom-left-radius: 105px 155px;
}

#inkProgress,
#inkProgress div {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

#inkProgress {
    border: 1px solid #1569c7;
    border-top-width: 0;
    background-color: #1569c7;
    bottom: 0;
    height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #1569c7 !important;
}

.centeredcontainer {
    text-align: center;
    position: relative;
}

.centeredchild {
    position: relative;
    margin: 10px 10px;
    display: inline-block;
}

.topmenucontainer {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 330px;
}

.drawWord {
    color: #1569c7;
    font-size: 40px;
    cursor: default;
    caret-color: transparent;
}

.nick {
    color: #1569c7;
    font-size: 26px;
    cursor: default;
    caret-color: transparent;
}

.author {
    color: #1569c7;
    font-size: 14px;
    cursor: default;
    caret-color: transparent;
}

.score {
    color: #1569c7;
    font-size: 20px;
    display: inline-block;
    max-width: 320px; 
    word-break: break-all; 
    text-align: left;  
    cursor: default;
    caret-color: transparent;
}

.resultMessage {
    color: #1569c7;
    font-size: 20px;
    cursor: default;
    caret-color: transparent;
}

.news {
    color: #1569c7;
    font-size: 20px;
    max-width: 320px;
    display: inline-block;
    word-break: break-word; 
	text-align: left; 
    cursor: default;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

form button {
    margin: 10px auto;
}

.resultinputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.resultinputs button {
    margin: 10px auto;
}

.title {
    font-size: 32px;
    margin: 10px auto;
    color: #1569c7;
    display: inline-block;
    word-break: break-word; 
    text-align: center;
    cursor: default;
    caret-color: transparent;
} 

input {
    background-color: white;
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #1569c7;
    border: 3px solid #1569c7;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.3s;
    padding: 0;
    background: white;
    margin: 10px auto;
    outline: none;
    font-family: kirbyFont;
}

input.wide {
    width: 300px;
    height: 32px;
    font-family: littleThings;
    font-size: 26px;
}

ul {
    list-style-type: none;  
    -webkit-padding-start: 0px;
}

.newsitem {   
    margin: 8px 0;
    font-family: littleThings;
}

.highscoresitem {    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.selecteditem {  
    background-color: #f7ee71;
    border-top-left-radius: 105px 15px;
    border-top-right-radius: 15px 25px;
    border-bottom-right-radius: 25px 195px;
    border-bottom-left-radius: 12px 55px;

    padding: 10px;
    margin: -10px;
}

.scrollable { 
    width: 300px;
    height: 200px;
    overflow: auto;
    margin: 0 auto; 
}

#wrapper {
    position: relative;
}

#alertId {  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; 
} 

.progressAnimation {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.5;
    }
  }